:root {
  --colorAqua : #CCFAF7;
}

.dark {
  background: black;
  color: white;
}

.light {
  background: white;
  color: black;
}

.aqua {
  background: linear-gradient(#9CD5FF,#6B76FF);
  color: black;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.center-margin {
  display: block;
  margin: auto;
  width: 80%;
}

.center-text {
  text-align: center;
}

.web-heading {
  font-size: 30px;
  padding: 2px;
}

.hidden-nav {
  display: none;
}

#menu {
  font-size: 39px;
  position: absolute;
  left: 88vmin;
}

.align-right {
  float: right;
}

.align-left {
  float: left;
}

.language-logo{
  height: 40px;
  padding: 5px;
  margin: 5px;
}

.web-logo{
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin:3px 10px;
}
